﻿@page "/"
@using System.Net

<h1>@strHostName</h1>

@strIpSummary

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@code {
    private string strHostName="";
    string strIpSummary = "";
    string strHostSummary = "";

    protected override async Task OnInitializedAsync()
    {
        strHostName = Dns.GetHostName();
        IPAddress[] aoIpAddresses = Dns.GetHostAddresses(strHostName);
        strIpSummary = string.Join<IPAddress>(" | ", aoIpAddresses);
        strHostSummary = $"{strHostName} - {strIpSummary}";
    }
}
