﻿@page "/player"
@using TestCoreCons
@using System.Reflection
@using System.Runtime.InteropServices

<p>Ornament state: @strStatus</p>
<p>Ornament status: @strStatus2</p>
<p> </p>

<h1>Video Play</h1>


<button class="btn btn-primary" @onclick="PlayChristmas">Play Chrismas</button>

<button class="btn btn-primary" @onclick="PlaySample">Play Sample</button>

<p> </p>

<h1>Ornament Shows</h1>

<button class="btn btn-primary" @onclick="LaunchShow123">123 Show</button>



@code {

    public enum ELogLevel
    {
        Info,
        Error
    }
    class CLogger
    {

        public void Log(ELogLevel eLogLevel, string strLogMesssage)
        {
            Console.WriteLine($"{strLogMesssage}");
        }

        public void LogException(ELogLevel eLogLevel, string strLogMesssage, Exception oException)
        {
            Console.WriteLine($"{strLogMesssage}\n{oException.Message}");
        }
    }

    static CLogger ms_iLogger = new CLogger();

    private int currentCount = 0;
    private static string strStatus = "Idle";
    private static string strStatus2 = "";
    private static CSshClient sshclientOrn11 = new CSshClient(CAppConfig.S.SlaveOrnaments[0].HostName, CAppConfig.S.SlaveOrnaments[0].SslPort, CAppConfig.S.SlaveOrnaments[0].Login, CAppConfig.S.SlaveOrnaments[0].Password);
    private static CSshClient sshclientOrn12 = new CSshClient(CAppConfig.S.SlaveOrnaments[1].HostName, CAppConfig.S.SlaveOrnaments[1].SslPort, CAppConfig.S.SlaveOrnaments[1].Login, CAppConfig.S.SlaveOrnaments[1].Password);



    protected override async Task OnInitializedAsync()
    {
        strStatus = "Idle";
        sshclientOrn11.ConnectSsh();
        sshclientOrn12.ConnectSsh();
    }

    //private void IncrementCount()
    //{
    //    currentCount++;
    //    strStatus = "Playing";
    //    System.Diagnostics.Process process = new System.Diagnostics.Process();
    //    System.Diagnostics.ProcessStartInfo startInfo = new System.Diagnostics.ProcessStartInfo();
    //    startInfo.WindowStyle = System.Diagnostics.ProcessWindowStyle.Hidden;
    //    startInfo.FileName = "omxplayer";
    //    startInfo.Arguments = "/home/pi/media/christmas_1.mkv";
    //    process.StartInfo = startInfo;
    //    process.Exited += (sender, args) => strStatus = "Idle";
    //    process.Start();
    //}

    private void LaunchShow123()
    {
        LaunchShow(RuntimeInformation.IsOSPlatform(OSPlatform.Linux) ? "/home/pi/shows/123/001_Demo_ornaments.mp4" : @"D:\Proj\IH\shows\123\001_Demo_ornaments.mp4", "/home/pi/shows/123/002_Demo_ornaments.mp4", "/home/pi/shows/123/003_Demo_ornaments.mp4");

    }


    private async void LaunchShow(string strVideo1Path, string strVideo2Path, string strVideo3Path)
    {
        strStatus = "Playing Show";
        DateTime datetimeNow = DateTime.Now;
        DateTime datetimeStartPlay = datetimeNow + new TimeSpan(0, 0, 0, 0, CAppConfig.S.DelayBeforeShowStart);
        //string strCmd = $"/home/pi/playattime/PlayAtTime {strVideo2Path} {datetimeStartPlay.ToString("O")}";
        string strCmd = $"{CAppConfig.S.SlaveOrnaments[0].RemotePlayCmd} {strVideo2Path} {datetimeStartPlay.ToString("O")}";
        ms_iLogger.Log(ELogLevel.Info, $"Sending to Ornament11: {strCmd}");
        Task<string> tskOrn11 = sshclientOrn11.SendCommand(strCmd);
        //strCmd = $"/home/pi/playattime/PlayAtTime {strVideo3Path} {datetimeStartPlay.ToString("O")}";
        strCmd = $"{CAppConfig.S.SlaveOrnaments[1].RemotePlayCmd} {strVideo3Path} {datetimeStartPlay.ToString("O")}";
        ms_iLogger.Log(ELogLevel.Info, $"Sending to Ornament12: {strCmd}");
        Task<string> tskOrn12 = sshclientOrn12.SendCommand(strCmd);
        Task<string> tskOrn10 = PlayVideoAtTime(strVideo1Path, datetimeStartPlay);
        ms_iLogger.Log(ELogLevel.Info, $"CurrentTime={datetimeNow:HH:mm:ss:ffff}. Launching video {strVideo1Path} at {datetimeStartPlay:HH:mm:ss:ffff}");
        string[] astrOrn11Resp = await Task.WhenAll(tskOrn11, tskOrn12);
        ms_iLogger.Log(ELogLevel.Info, $"Ornament11 reply: {astrOrn11Resp[0]}, Ornament12 reply: {astrOrn11Resp[1]}");
    }

    //private async Task PlayVideoAtTime(string strVideoPath, DateTime datetimeStart)
    //{
    //    bool bErrorWaiting = true;
    //    TimeSpan timespanWait = datetimeStart - DateTime.Now;
    //    if (timespanWait > TimeSpan.Zero)
    //    {
    //        await Task.Delay(timespanWait);
    //        PlayVideo(strVideoPath);
    //    }
    //    else
    //    {
    //        PlayVideo(strVideoPath);
    //        Console.WriteLine($"Error waiting for video to start time has past by {timespanWait.TotalMilliseconds} ms");
    //    }
    //}

    private async Task<string> PlayVideoAtTime(string strVideoPath, DateTime datetimeStart)
    {
        //bool bResult = await m_oMediaPlayer.PlayVideoAtTime(strVideoPath, datetimeStart);
        //return bResult ? "OK" : "ERROR";
        string strMessage = $"Play {strVideoPath} at {datetimeStart:HH:mm:ss:ffff}";
        ms_iLogger.Log(ELogLevel.Info, strMessage);
        Console.WriteLine(strMessage);
        bool bErrorWaiting = true;
        TimeSpan timespanWait = datetimeStart - DateTime.Now;
        if (timespanWait > TimeSpan.Zero)
        {
            await Task.Delay(timespanWait);
            ms_iLogger.Log(ELogLevel.Info, $"Calling PlayVideo {strVideoPath}");
            await PlayVideo(strVideoPath).ConfigureAwait(false);
        }
        else
        {
            await PlayVideo(strVideoPath).ConfigureAwait(false);
            strMessage = $"Error waiting for video to start time has past by {timespanWait.TotalMilliseconds} ms";
            ms_iLogger.Log(ELogLevel.Info, strMessage);
            Console.WriteLine(strMessage);
        }
        return "OK";
    }


    private async Task PlayChristmas()
    {
        await PlayVideo(RuntimeInformation.IsOSPlatform(OSPlatform.Linux) ? "/home/pi/media/christmas_1.mkv" : @"D:\Proj\IH\movies\christmas_1.mkv").ConfigureAwait(false);
    }

    private async Task PlaySample()
    {
        await PlayVideo(RuntimeInformation.IsOSPlatform(OSPlatform.Linux) ? "/home/pi/media/sample.mp4" : @"D:\Proj\IH\movies\sample.mp4").ConfigureAwait(false);
    }

    //private async Task PlayVideo(string strVideoPath)
    //{
    //    //bool bResult = await m_oMediaPlayer.PlayVideo(strVideoPath);
    //    //return;
    //    bool bIsLinux = RuntimeInformation.IsOSPlatform(OSPlatform.Linux);
    //    strStatus = "Playing";
    //    strStatus2 = $"Playing {strVideoPath} at {DateTime.Now:HH:mm:ss:ffff}";
    //    ms_iLogger.Log(ELogLevel.Info, strStatus2);
    //    System.Diagnostics.Process process = new System.Diagnostics.Process();
    //    System.Diagnostics.ProcessStartInfo startInfo = new System.Diagnostics.ProcessStartInfo();
    //    startInfo.WindowStyle = System.Diagnostics.ProcessWindowStyle.Hidden;
    //    startInfo.FileName = bIsLinux ? "omxplayer" : @"C:\Program Files (x86)\VideoLAN\VLC\vlc.exe";
    //    startInfo.Arguments = bIsLinux ? strVideoPath:$"-Idummy --play-and-exit --no-loop --no-repeat {strVideoPath}";
    //    process.EnableRaisingEvents = true;
    //    process.StartInfo = startInfo;
    //    //process.Exited += (sender, args) =>
    //    //{
    //    //    strStatus = "Idle";
    //    //    ms_iLogger.Log(ELogLevel.Info, "Video play completed");
    //    //    Console.WriteLine($"Video play completed");
    //    //};
    //    try
    //    {
    //        bool bStartResult = process.Start();
    //        if (!bStartResult)
    //            strStatus = "Idle";
    //        Task taskWait = Task.Run(() => process.WaitForExit());
    //        await Task.WhenAll(taskWait);
    //        strStatus = "Idle";
    //        ms_iLogger.Log(ELogLevel.Info, "Video play completed");
    //        Console.WriteLine($"Video play completed");
    //    }
    //    catch (Exception e)
    //    {
    //        strStatus = "Idle";
    //        ms_iLogger.LogException(ELogLevel.Error, "Exception while lauching video playing process.", e);
    //    }
    //}


    private async Task PlayVideo(string strVideoPath)
    {
        strStatus = "Playing";
        strStatus2 = $"Playing {strVideoPath} at {DateTime.Now:HH:mm:ss:ffff}";
        Console.WriteLine(strStatus2);
        System.Diagnostics.Process process = new System.Diagnostics.Process();
        System.Diagnostics.ProcessStartInfo startInfo = new System.Diagnostics.ProcessStartInfo();
        startInfo.WindowStyle = System.Diagnostics.ProcessWindowStyle.Hidden;
        startInfo.FileName = "omxplayer";
        startInfo.Arguments = strVideoPath;
        process.EnableRaisingEvents = true;
        process.StartInfo = startInfo;
        process.Exited += (sender, args) => strStatus = "Idle";
        process.Start();
    }
}
